body{
margin:0;
font-family:Poppins;
background:#0f172a;
color:white;
overflow-x:hidden;
}



/* INTRO SCREEN */

#intro{
position:fixed;
width:100%;
height:100%;
background:black;
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
animation:fadeOut 1s ease 3s forwards;
}

.intro-title{
font-size:60px;
letter-spacing:6px;
animation:zoom 2s ease;
}

@keyframes zoom{
0%{opacity:0;transform:scale(0.5);}
100%{opacity:1;transform:scale(1);}
}

@keyframes fadeOut{
to{opacity:0;visibility:hidden;}
}



/* HERO */

.hero{
position:relative;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
overflow:hidden;
}

.video-bg{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
object-fit:cover;
z-index:-3;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
z-index:-2;
}



/* PARTICLES */

#particles{
position:absolute;
width:100%;
height:100%;
z-index:-1;
}



/* GLASS PANEL */

.glass{
backdrop-filter:blur(14px);
background:rgba(255,255,255,0.05);
border-radius:20px;
padding:60px;
box-shadow:0 20px 60px rgba(0,0,0,0.6);
border:none;
}



/* TITLE */

.title{
font-size:70px;
letter-spacing:6px;
}



/* SPOTLIGHT EFFECT */

.spotlight-text{
position:relative;
display:inline-block;
text-shadow:
0 0 10px #fff,
0 0 20px #ef4444,
0 0 40px #ef4444;
overflow:hidden;
}

.spotlight-text::after{

content:"";
position:absolute;
top:0;
left:-75%;
width:50%;
height:100%;

background:linear-gradient(
120deg,
transparent,
rgba(255,255,255,0.8),
transparent
);

animation:spotlightMove 4s infinite;

}

@keyframes spotlightMove{
0%{left:-75%;}
100%{left:125%;}
}



/* TAGLINE */

.tagline{
font-size:22px;
margin:20px 0;
opacity:0.85;
}



/* BUTTON */

.btn{
background:#ef4444;
padding:16px 36px;
border-radius:8px;
color:white;
text-decoration:none;
font-weight:600;
transition:0.3s;
}

.btn:hover{
background:#dc2626;
transform:scale(1.05);
}



/* SCROLL */

.scroll{
position:absolute;
bottom:25px;
font-size:32px;
animation:float 2s infinite;
}

@keyframes float{
0%{transform:translateY(0)}
50%{transform:translateY(10px)}
100%{transform:translateY(0)}
}



/* EVENTS */

.events{
padding:100px 20px;
text-align:center;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:30px;
margin-top:50px;
}



/* CARD */

.card{
background:white;
color:black;
border-radius:14px;
padding:20px;
box-shadow:0 8px 20px rgba(0,0,0,0.3);
transform:translateY(40px);
opacity:0;
transition:0.6s;
}

.card img{
width:100%;
border-radius:10px;
}

.card.show{
transform:translateY(0);
opacity:1;
}



/* MOBILE */

@media(max-width:768px){

.title{
font-size:40px;
}

.glass{
padding:30px;
}

}
